@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.bg {
    background: url(https://wallpapercave.com/dwp2x/7pPWVzG.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    filter: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d9e0d8;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #151515;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    margin-top: 11%;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent, #875893, #875893);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent, #52b5c7, #52b5c7);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate 
{
    0%
    {
        transform: rotate(0deg);
    }   
    100%
    {
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: white;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color: #151515;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

a[type="start"]
{
    border: none;
    outline: none;
    background: #cecbcb;
    padding: 11px 30px;
    width: 100px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
}

a[type="start"]:hover
{
    border: none;
    outline: none;
    background: #353d64;
    padding: 11px 30px;
    width: 100px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ded7e3;
}
@media screen and (max-width: 960px) {
    .box {
        display: flex;
        justify-content: space-between;
        height: 450px;
        z-index: 1;
        margin: auto;
        margin-top: 35%;
        width: 85%;
        max-width: 1300px;
        padding: 0;
    }
}